{{#if isEditing}}
{{#if notebook.errors.length}}
   <div class='alert alert-danger'>
     <h5>Could not sign up due to the following:</h5>
     <ul>
       {{#each notebook.errors as |error|}}
         <li>{{error.message}}</li>
       {{/each}}
     </ul>
   </div>
 {{/if}}

 <form class="form-horizontal" {{action 'submit' on="submit"}}>
   <label for="title">Title</label>
   {{input value=notebook.title id="title"}}

   <label for="description" class="col-lg-2 control-label">URL</label>
   {{input value=notebook.description id="description"}}

   <button id="submit" class="btn btn-primary" type="submit">Save</button>
 </form>

 {{else}}
 <h4 {{action 'edit'}}>{{notebook.title}}</h4>
 <p id="description">
   description: {{notebook.description}}
 </p>

 {{/if}}

 {{yield}}
