<div class="col-md-6">
  {{#if isEditing}}
    {{input value=sheet.title id="title"}} <button {{action "saveSheet" sheet}}type="button" class="btn btn-primary" name="save">Save</button>
  {{else}}
    <h1{{action "editSheet" on="doubleClick"}}>{{sheet.title}}</h1>
  {{/if}}
</div>
<div class="col-md-4">

</div>
<div class="col-md-2">
  <p><button {{action 'deleteSheet' sheet}} class="btn" id="delete">Delete</button></p>

</div>
<div class="text-editor-wrapper">
    <h1 style="color:#fff;">.</h1>
    {{text-editor value=sheet.content sheet=sheet updateSheet=attrs.updateSheet}}
</div>
