   {{#if model.errors.length}}
      <div class='alert alert-danger'>
        <h5>Could not sign up due to the following:</h5>
        <ul>
          {{#each model.errors as |error|}}
            <li>{{error.message}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

<li class="nav-item">
  <div class="container">
    <form {{action 'addUser' on='submit'}}>
      <div>
        <label for="name">Name</label>
        {{input id='name' placeholder='Name' value=model.name}}
      </div>
      <div>
        <label for="email">Email</label>
        {{input id='email' placeholder='Email' value=model.email}}
      </div>
      <div>
        <label for="password">Password</label>
        {{input id='password' placeholder='Enter Password' type='password' value=model.password}}
      </div>
      <div>
        <label for="password_confirmation">Confirm Password</label>
        {{input id='password_confirmation' placeholder='Confirm Password' type='password' value=model.password_confirmation}}
      </div>
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</li>
