<ul>
  <li>Notebook description: {{model.description}}</li>
  {{outlet}}
  <li>{{link-to "New Sheet" "sheets.new"}}</li>
</ul>

<div>

  {{show-notebook saveChanges=(action "update") notebook=model}}

  <p><button {{action 'delete'}} id="delete">Delete</button></p>

 </div>
