<ul class="nav">
  <li class="menu-block-has-sub nav-item">
    <a href="#" class=nav-link>
      <i class="icon ion-ios-book"></i>
      <div class="menu-block-label">
        Currently open: {{model.title}}

      </div>
    </a>
  </li>
  {{outlet}}
  <li>{{link-to "New Sheet" "sheets.new"}}</li>
</ul>

<div>

  {{show-notebook saveChanges=(action "update") notebook=model}}

  <p><button {{action 'delete'}} id="delete" class="btn">Delete</button></p>

 </div>
