<body>
{{outlet 'modal'}}
  <div class="doc_header">
    <header class="navbar">
      <div class="">
{{#if session.isAuthenticated}}
        <a {{action 'logout'}}>Logout</a>
{{else}}

        <!-- <button {{action 'openModal' 'users/new'}}>Open modal</button> -->
        <h5{{action 'openModal' 'users/new'}}>{{#link-to 'users.new'}}Sign Up{{/link-to}}</h5>
        {{#link-to 'login'}}Login{{/link-to}}
        <!-- {{#link-to 'users.new'}}Sign Up{{/link-to}} -->
        {{outlet}}
{{/if}}
      </div>
    </header>
    <h1 id="title">{{link-to "MARGIN" 'application'}}</h1>
  </div>
  <div class="doc_wrapper">
    <div class="container">


    {{#if session.isAuthenticated}}
      <div class="row">
        <div class="col-md-3 mainmenu-block f-blue">
            <div class="nav"></div>
          {{#link-to 'notebooks'}}Show Notebooks{{/link-to}}
          <ul class="nav sidemenu">
            {{outlet 'sidebar'}}
          </ul>
        </div>
        <div class="main-wrapper">
          <div class="view-wrapper">
              {{outlet 'editor'}}

            </div>
          </div>
        </div>
    {{else}}
        <div id="unauthorized">

              <div class="col-md-12">
                <h4>
                  Hi there! Margin is coming soon... (like, any day! ETA 02/24/16!)
                </h4>
                <p>
                  Come back soon for an excellent Ember.js-based single page app to take your code notes.
                </p>
              </div>
        </div>
    {{/if}}

    </div>
  </div>


</body>
