<body class="stellar">
{{outlet 'modal'}}
  <div class="container">
    <header class="navbar">
      <div class="">
{{#if session.isAuthenticated}}
        <a {{action 'logout'}}>Logout</a>
{{else}}

        <!-- <button {{action 'openModal' 'users/new'}}>Open modal</button> -->
        <h5{{action 'openModal' 'users/new'}}>{{#link-to 'users.new'}}Sign Up{{/link-to}}</h5>
        {{#link-to 'login'}}Login{{/link-to}}
        <!-- {{#link-to 'users.new'}}Sign Up{{/link-to}} -->
        {{outlet}}
{{/if}}
      </div>
    </header>
    <h2 id="title">MARGIN</h2>
{{#if session.isAuthenticated}}
    <div class="mainmenu-block">
      {{#link-to 'notebooks'}}Show Notebooks{{/link-to}}
      <ul>
        {{outlet 'sidebar'}}
      </ul>
    </div>
    <div class="main-wrapper">
      <div class="view-wrapper">
          {{outlet 'editor'}}

        </div>
      </div>
{{else}}
    <div id="unauthorized">

          <div class="col-md-12">
            <h4>
              Hi there! Margin is coming soon... (like, any day! ETA 02/24/16!)
            </h4>
            <p>
              Come back soon for an excellent Ember.js-based single page app to take your code notes.
            </p>
          </div>
    </div>
{{/if}}



  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
